@model IEnumerable<InvCore360_App.Model.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva categoria</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Activo</th>
            <th>FechaCreacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>@(item.Activo ? "Sí" : "No")</td>
            <td>@item.FechaCreacion.ToString("g")</td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.CategoriaID">Details</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.CategoriaID">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CategoriaID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>