@model IEnumerable<InvCore360_App.Model.Models.ConfiguracionNegocio>

@{
    ViewData["Title"] = "Configuración del Negocio";
}

<h1>Configuración del Negocio</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Agregar</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>NombreNegocio</th>
            <th>Moneda</th>
            <th>PorcentajeImpuesto</th>
            <th>AlertasHabilitadas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.NombreNegocio</td>
            <td>@item.MonedaPredeterminada</td>
            <td>@item.PorcentajeImpuesto</td>
            <td>@(item.AlertasHabilitadas ? "Sí" : "No")</td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.ConfigID">Details</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.ConfigID">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ConfigID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>